*{
    box-sizing: border-box;
}

#maindiv{
    /* display: flex; */
    
    width: 15vw;
    margin: 20px auto;
    padding: 10px;
    /* flex-wrap: wrap; */
    border: 2px solid red;
 
}

#productdiv{
    width: 100%;
    text-align: center;
    padding: 10px;
  
   
}
img{
    width: 100%;
}
#productdiv:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}